# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# macOS
.DS_Store

# project specific 
etc/foo
etc/hosts
etc/hosts-HBLOCK
etc/hosts-ORIG
etc/hosts.bak
etc/hosts.equiv
etc/save
etc/SAVE-ORIG-hosts
etc/hblock/allow.list
etc/hblock/SAVE-ORIG-allow.list
bin/myapp
bin/myapp
src/temp.c
bin/fix-hostfiles
docs/html/actions_8h_source.html
docs/html/bc_s.png
docs/html/bc_sd.png
docs/html/clipboard.js
docs/html/closed.png
docs/html/cookie.js
docs/html/dir_68267d1309a1af8e8297ef4c3efbcdba.html
docs/html/dir_68267d1309a1af8e8297ef4c3efbcdba.js
docs/html/doc.svg
docs/html/docd.svg
docs/html/doxygen_crawl.html
docs/html/doxygen.css
docs/html/doxygen.svg
docs/html/dynsections.js
docs/html/files_dup.js
docs/html/files.html
docs/html/fix-hosts_8h_source.html
docs/html/fix-hosts_8h.html
docs/html/folderclosed.svg
docs/html/folderclosedd.svg
docs/html/folderopen.svg
docs/html/folderopend.svg
docs/html/index.html
docs/html/jquery.js
docs/html/menu.js
docs/html/menudata.js
docs/html/minus.svg
docs/html/minusd.svg
docs/html/nav_f.png
docs/html/nav_fd.png
docs/html/nav_g.png
docs/html/nav_h.png
docs/html/nav_hd.png
docs/html/navtree.css
docs/html/navtree.js
docs/html/navtreedata.js
docs/html/navtreeindex0.js
docs/html/open.png
docs/html/plus.svg
docs/html/plusd.svg
docs/html/resize.js
docs/html/splitbar.png
docs/html/splitbard.png
docs/html/sync_off.png
docs/html/sync_on.png
docs/html/system-actions_8h_source.html
docs/html/tab_a.png
docs/html/tab_ad.png
docs/html/tab_b.png
docs/html/tab_bd.png
docs/html/tab_h.png
docs/html/tab_hd.png
docs/html/tab_s.png
docs/html/tab_sd.png
docs/html/tabs.css
docs/html/search/all_0.js
docs/html/search/close.svg
docs/html/search/files_0.js
docs/html/search/mag_d.svg
docs/html/search/mag_sel.svg
docs/html/search/mag_seld.svg
docs/html/search/mag.svg
docs/html/search/search.css
docs/html/search/search.js
docs/html/search/searchdata.js
docs/latex/actions_8h_source.tex
docs/latex/doxygen.sty
docs/latex/etoc_doxygen.sty
docs/latex/files.tex
docs/latex/fix-hosts_8h_source.tex
docs/latex/fix-hosts_8h.tex
docs/latex/longtable_doxygen.sty
docs/latex/Makefile
docs/latex/refman.tex
docs/latex/system-actions_8h_source.tex
docs/latex/tabu_doxygen.sty
docs/html/fix-hosts_8c.html
docs/html/fix-hosts_8c.js
docs/html/globals_func.html
docs/html/globals.html
docs/html/systems-actions_8c.html
docs/html/systems-actions_8c.js
docs/html/search/all_1.js
docs/html/search/all_2.js
docs/html/search/all_3.js
docs/html/search/all_4.js
docs/html/search/all_5.js
docs/html/search/all_6.js
docs/html/search/all_7.js
docs/html/search/all_8.js
docs/html/search/all_9.js
docs/html/search/files_1.js
docs/html/search/functions_0.js
docs/html/search/functions_1.js
docs/html/search/functions_2.js
docs/html/search/functions_3.js
docs/html/search/functions_4.js
docs/html/search/functions_5.js
docs/html/search/functions_6.js
docs/html/search/functions_7.js
docs/html/search/functions_8.js
docs/latex/fix-hosts_8c.tex
docs/latex/refman.aux
docs/latex/refman.idx
docs/latex/refman.ilg
docs/latex/refman.ind
docs/latex/refman.log
docs/latex/refman.pdf
docs/latex/refman.toc
docs/latex/systems-actions_8c.tex
